.wrap {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    margin-bottom: 12px;
}

.gif {
    height: 100vh;
    width: 70%;
    z-index: -1;
}

.caption {
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-weight: 700;
    color: white;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20%;
    text-shadow: 2px 4px #00000050;
}